@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-title {
  font-size: 42px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  line-height: 1.08em;
  letter-spacing: -0.015em;
}
@media (min-width: 768px) {
  .page-title {
    font-size: 50px;
  }
}
@media (min-width: 1400px) {
  .page-title {
    font-size: 64px;
  }
}

.section-title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  font-size: 38px;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 42px;
  }
}
@media (min-width: 1400px) {
  .section-title {
    font-size: 48px;
  }
}

.medium-title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  font-size: 28px;
}
@media (min-width: 992px) {
  .medium-title {
    font-size: 32px;
  }
}

.block-title {
  font-size: 24px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  font-size: 28px;
}
@media (min-width: 768px) {
  .block-title {
    font-size: 22px;
  }
}

.small-heading {
  font-size: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  line-height: 1.4em;
  font-size: 18px;
}
@media (min-width: 768px) {
  .small-heading {
    font-size: 20px;
  }
}

.large-paragraph {
  line-height: 1.74em;
  font-weight: 400;
  font-size: 18px;
}
@media (min-width: 768px) {
  .large-paragraph {
    font-size: 20px;
  }
}

.medium-paragraph {
  font-size: 16px;
  line-height: 1.74em;
}
@media (min-width: 768px) {
  .medium-paragraph {
    font-size: 18px;
  }
}

.small-paragraph {
  font-size: 14px;
  line-height: 1.74em;
}
@media (min-width: 768px) {
  .small-paragraph {
    font-size: 16px;
  }
}

:root {
  --primary:#D20D0C;
  --primary-rgb:210, 13, 12;
  --secondary:#07F;
  --secondary-rgb:0, 119, 255;
  --heading-color:#131325;
  --heading-color-rgb:19, 19, 37;
  --text-dark:#424251;
  --text-light:#DFDFDF;
  --white:#FFFFFF;
  --blue:#0077FF;
  --yellow:#FFB700;
}

h1, h2, h3, h4 {
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
}

.logo-title-font {
  font-family: "'Smooch Sans', sans-serif";
}

/*!
 * Bootstrap Grid v5.3.0-alpha3 (https://getbootstrap.com/)
 * Copyright 2011-2023 The Bootstrap Authors
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
.container,
.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-1 {
  margin-left: 8.33333333%;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333333%;
}

.offset-5 {
  margin-left: 41.66666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333333%;
}

.offset-8 {
  margin-left: 66.66666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333333%;
}

.offset-11 {
  margin-left: 91.66666667%;
}

.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}

.g-1,
.gx-1 {
  --bs-gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
  --bs-gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}

.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}

@media (min-width: 480px) {
  .col-xs {
    flex: 1 0 0%;
  }
  .row-cols-xs-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xs-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xs-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xs-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xs-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xs-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xs-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xs-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xs-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xs-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xs-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xs-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xs-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xs-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xs-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xs-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xs-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xs-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xs-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xs-0 {
    margin-left: 0;
  }
  .offset-xs-1 {
    margin-left: 8.33333333%;
  }
  .offset-xs-2 {
    margin-left: 16.66666667%;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
  .offset-xs-4 {
    margin-left: 33.33333333%;
  }
  .offset-xs-5 {
    margin-left: 41.66666667%;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
  .offset-xs-7 {
    margin-left: 58.33333333%;
  }
  .offset-xs-8 {
    margin-left: 66.66666667%;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
  .offset-xs-10 {
    margin-left: 83.33333333%;
  }
  .offset-xs-11 {
    margin-left: 91.66666667%;
  }
  .g-xs-0,
  .gx-xs-0 {
    --bs-gutter-x: 0;
  }
  .g-xs-0,
  .gy-xs-0 {
    --bs-gutter-y: 0;
  }
  .g-xs-1,
  .gx-xs-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-xs-1,
  .gy-xs-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-xs-2,
  .gx-xs-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-xs-2,
  .gy-xs-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-xs-3,
  .gx-xs-3 {
    --bs-gutter-x: 1rem;
  }
  .g-xs-3,
  .gy-xs-3 {
    --bs-gutter-y: 1rem;
  }
  .g-xs-4,
  .gx-xs-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-xs-4,
  .gy-xs-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-xs-5,
  .gx-xs-5 {
    --bs-gutter-x: 3rem;
  }
  .g-xs-5,
  .gy-xs-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --bs-gutter-x: 0;
  }
  .g-sm-0,
  .gy-sm-0 {
    --bs-gutter-y: 0;
  }
  .g-sm-1,
  .gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-sm-1,
  .gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-sm-2,
  .gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-sm-2,
  .gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-sm-3,
  .gx-sm-3 {
    --bs-gutter-x: 1rem;
  }
  .g-sm-3,
  .gy-sm-3 {
    --bs-gutter-y: 1rem;
  }
  .g-sm-4,
  .gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-sm-4,
  .gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-sm-5,
  .gx-sm-5 {
    --bs-gutter-x: 3rem;
  }
  .g-sm-5,
  .gy-sm-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.33333333%;
  }
  .offset-md-2 {
    margin-left: 16.66666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333333%;
  }
  .offset-md-5 {
    margin-left: 41.66666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333333%;
  }
  .offset-md-8 {
    margin-left: 66.66666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333333%;
  }
  .offset-md-11 {
    margin-left: 91.66666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --bs-gutter-x: 0;
  }
  .g-md-0,
  .gy-md-0 {
    --bs-gutter-y: 0;
  }
  .g-md-1,
  .gx-md-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-md-1,
  .gy-md-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-md-2,
  .gx-md-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-md-2,
  .gy-md-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-md-3,
  .gx-md-3 {
    --bs-gutter-x: 1rem;
  }
  .g-md-3,
  .gy-md-3 {
    --bs-gutter-y: 1rem;
  }
  .g-md-4,
  .gx-md-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-md-5,
  .gx-md-5 {
    --bs-gutter-x: 3rem;
  }
  .g-md-5,
  .gy-md-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --bs-gutter-x: 0;
  }
  .g-lg-0,
  .gy-lg-0 {
    --bs-gutter-y: 0;
  }
  .g-lg-1,
  .gx-lg-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-lg-1,
  .gy-lg-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-lg-2,
  .gx-lg-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-lg-2,
  .gy-lg-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-lg-3,
  .gx-lg-3 {
    --bs-gutter-x: 1rem;
  }
  .g-lg-3,
  .gy-lg-3 {
    --bs-gutter-y: 1rem;
  }
  .g-lg-4,
  .gx-lg-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-lg-4,
  .gy-lg-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-lg-5,
  .gx-lg-5 {
    --bs-gutter-x: 3rem;
  }
  .g-lg-5,
  .gy-lg-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }
  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --bs-gutter-x: 0;
  }
  .g-xl-0,
  .gy-xl-0 {
    --bs-gutter-y: 0;
  }
  .g-xl-1,
  .gx-xl-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-xl-1,
  .gy-xl-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-xl-2,
  .gx-xl-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-xl-2,
  .gy-xl-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-xl-3,
  .gx-xl-3 {
    --bs-gutter-x: 1rem;
  }
  .g-xl-3,
  .gy-xl-3 {
    --bs-gutter-y: 1rem;
  }
  .g-xl-4,
  .gx-xl-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-xl-4,
  .gy-xl-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-xl-5,
  .gx-xl-5 {
    --bs-gutter-x: 3rem;
  }
  .g-xl-5,
  .gy-xl-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --bs-gutter-x: 0;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --bs-gutter-y: 0;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --bs-gutter-x: 1rem;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --bs-gutter-y: 1rem;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --bs-gutter-x: 3rem;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --bs-gutter-y: 3rem;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.form-control {
  border: 0;
  background-color: #fff;
  color: var(--heading-dark);
  padding: 18px 20px;
}
.form-control::-moz-placeholder {
  color: rgba(var(--heading-color-rgb), 0.5);
}
.form-control::placeholder {
  color: rgba(var(--heading-color-rgb), 0.5);
}
.form-control:focus {
  box-shadow: none;
}

.btn {
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  margin-top: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 26px;
  padding-right: 26px;
}
.btn-primary {
  color: var(--white) !important;
  background: var(--primary) !important;
}
.btn-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.appointment-form-wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 30px;
}
@media (min-width: 768px) {
  .appointment-form-wrapper {
    padding: 40px 50px;
  }
}
@media (min-width: 1200px) {
  .appointment-form-wrapper {
    padding: 64px 80px;
  }
}

.appointment-form {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.11);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding: 30px;
}
@media (min-width: 1200px) {
  .appointment-form {
    padding: 48px 40px;
  }
}
.appointment-form .form-control {
  margin-bottom: 16px;
}
.appointment-form .form-text-area {
  padding-top: 18px;
  padding-bottom: 90px;
}
.appointment-form--black {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.11);
}

.service-card {
  padding: 40px 32px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 6px 12px 40px 0px rgba(19, 19, 37, 0.07);
  margin-right: 10px;
  text-align: center;
  transition: 0.5s ease-in-out;
}
.service-card .service-card-icon img {
  width: 64px;
  margin-bottom: 32px;
}
.service-card .service-card-body .service-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 12px;
}
.service-card .service-card-body p {
  margin-bottom: 32px;
}
.service-card .service-card-body a {
  text-decoration: none;
  color: var(--text-dark);
}
.service-card .service-card-body a .fa-arrow-right {
  width: 20px;
  height: 20px;
}

.service-card:hover {
  background-color: #131325;
  color: var(--white);
}
.service-card:hover .service-card-body a {
  text-decoration: none;
  color: var(--white);
}
.service-card:hover .service-card-body a .fa-arrow-right {
  width: 20px;
  height: 20px;
}

/*------ 
Hero Section Styles 
-------------------*/
.hero-section {
  padding-top: 32px;
  padding-bottom: 60px;
}

.hero-content-texts {
  text-align: center;
}
@media (min-width: 992px) {
  .hero-content-texts {
    max-width: 598px;
    text-align: left;
  }
}
.hero-content-texts .page-title {
  margin-bottom: 24px;
}
.hero-content-texts p {
  margin-bottom: 15px;
}
.hero-content-texts p:last-of-type {
  margin-bottom: 0;
}
.hero-content-texts .hero-logo-block {
  max-width: 397px;
  display: inline-flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .hero-content-texts .hero-logo-block {
    padding-top: 40px;
  }
}
@media (min-width: 992px) {
  .hero-content-texts .hero-logo-block {
    padding-top: 140px;
  }
}
.hero-content-texts .hero-logo-block img {
  width: 100%;
}

.service-section {
  background-color: #F8FAFD;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 992px) {
  .service-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.service-section .col-xl-4.col-lg-4.col-sm-12 {
  display: flex;
  justify-content: center;
}

.service-content-heading .service {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-content-heading .service-section-title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  font-size: 38px;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .service-content-heading .service-section-title {
    font-size: 42px;
  }
}
@media (min-width: 1400px) {
  .service-content-heading .service-section-title {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  .service-content-heading .service-section-title {
    margin-bottom: 60px;
  }
}

.line {
  width: 30px;
  height: 2px;
  background: var(--yellow);
  margin-right: 10px;
}

.line-text {
  margin-bottom: 0;
}

.card-img-size {
  width: 64px;
  height: 64px;
  margin-bottom: 32px;
}

.card-heading {
  margin-bottom: 12px;
}

.card-description {
  margin-bottom: 32px;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .service-card--width {
    max-width: 419.67px;
  }
}

.btn {
  background: none;
  border: 0;
  font-size: 16px;
}

@media (min-width: 992px) {
  .about-home-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.about-content-text .service {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content-text .line-text {
  margin-bottom: 0;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-title .about-section-title {
  margin-bottom: 24px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  font-size: 38px;
}
@media (min-width: 992px) {
  .about-title .about-section-title {
    max-width: 806px;
  }
}
@media (min-width: 768px) {
  .about-title .about-section-title {
    font-size: 42px;
  }
}
@media (min-width: 1400px) {
  .about-title .about-section-title {
    font-size: 48px;
  }
}

.about-description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-description p {
  margin-bottom: 24px;
  line-height: 1.74em;
  font-weight: 400;
  font-size: 18px;
}
@media (min-width: 992px) {
  .about-description p {
    max-width: 665px;
  }
}
@media (min-width: 768px) {
  .about-description p {
    font-size: 20px;
  }
}

.about-read {
  display: flex;
  justify-content: center;
  margin-bottom: 66px;
}
.about-read .about-read-color {
  color: var(--blue);
}

.about-arrow {
  width: 24px;
  height: 24px;
}

.about-img1 {
  max-width: 400.21px;
  border-radius: 10px;
}
.about-img1 .img {
  border-radius: 10px !important;
  padding: 0;
}

.about-img2 {
  max-width: 493.28px;
}
.about-img2 .img {
  border-radius: 10px !important;
  padding: 0;
}

.about-img3 {
  max-width: 400.21px;
}
.about-img3 .img {
  border-radius: 10px !important;
  padding: 0;
}

.header-section {
  padding: 32px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

/* navbar css */
.navigation {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li a {
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
nav ul li .service-menu .dropdown-main {
  margin-right: 10px;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.dropdown-content li {
  list-style-type: none;
  width: 300px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.service-menu {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.menu-icon {
  width: 20px;
}

.calling {
  display: flex;
  line-height: 1.5;
}

.calling img {
  width: 30px;
  margin-right: 10px;
}

.hamburger {
  display: none; /* Hide the hamburger menu initially */
  cursor: pointer;
}

i.fa.fa-bars {
  font-size: 30px;
}

.header-active {
  display: block;
  position: absolute;
  top: 100px;
  right: 0;
}

@media only screen and (max-width: 992px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
.content-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 992px) {
  .content-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media (min-width: 480px) {
  .choose-us .content-title {
    text-align: center;
  }
  .choose-us .why-choose {
    justify-content: center;
  }
  .choose-us .content-paragraph {
    text-align: center;
  }
  .choose-us .service-list {
    justify-content: center;
  }
  .choose-us .content-btn {
    text-align: center;
  }
  .choose-us .content-img-wrapper {
    display: flex;
    justify-content: center;
  }
  .choose-us .content-img-wrapper img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .choose-us {
    max-width: 670px;
  }
  .choose-us .content-title {
    text-align: start;
  }
  .choose-us .content-paragraph {
    text-align: start;
  }
  .choose-us .why-choose {
    justify-content: start;
  }
  .choose-us .service-list {
    justify-content: start;
  }
  .choose-us .content-btn {
    text-align: start;
  }
}
.choose-us .why-choose {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.service-list {
  display: flex;
  gap: 38px;
}

.service-list-first {
  max-width: 299.5px;
}
.service-list-first .content-service {
  margin-bottom: 16px;
}

.service-list-second {
  max-width: 299.5px;
}
.service-list-second .content-service {
  margin-bottom: 16px;
}

.fast-service {
  margin-right: 56px;
  margin-bottom: 0;
  margin-left: 10px;
}

.content-service {
  display: flex;
  align-items: center;
}

.content-service-title {
  margin-bottom: 0;
  margin-left: 10px;
}

.content-paragraph {
  max-width: 599px;
  margin-bottom: 24px;
}

.choose-image {
  position: relative;
  max-width: 607px;
}

.hapynes-main-container {
  max-width: 230px;
}

.happynes-content {
  background-color: var(--white);
  text-align: center;
  position: absolute;
  top: 67px;
  left: -54px;
  padding: 24px;
  box-shadow: 0px 0px 20px 0px rgba(104, 102, 102, 0.16);
  border-radius: 10px;
}

.happynes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.emergency-main-container {
  max-width: 241px;
}

.emergency-content {
  background-color: var(--white);
  text-align: center;
  position: absolute;
  bottom: 67px;
  right: -48px;
  padding: 24px;
  box-shadow: 0px 0px 20px 0px rgba(104, 102, 102, 0.16);
  border-radius: 10px;
}

.emergency {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 992px) {
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.portfolio-description {
  margin-bottom: 60px;
}
.portfolio-description .section-title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  font-size: 38px;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .portfolio-description .section-title {
    font-size: 42px;
  }
}
@media (min-width: 1400px) {
  .portfolio-description .section-title {
    font-size: 48px;
  }
}

.nav {
  justify-content: center;
  margin-bottom: 60px;
}

.nav-item {
  margin: 0px 30px;
}

.nav-item:first-child {
  margin-left: 0px !important;
}

.nav-item:last-child {
  margin-right: 0px !important;
}

.nav-link {
  color: var(--secondary);
  border: 0 !important;
  background-color: none !important;
  border-bottom: 2px solid var(--blue) !important;
}

.first-tap {
  color: #0077FF !important;
}

.portfolio-card-container {
  display: grid !important;
}
@media (min-width: 480px) {
  .portfolio-card-container .portfolio-card {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .portfolio-card-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media (min-width: 992px) {
  .portfolio-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio-card-container .large-paragraph {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .portfolio-card-container .large-paragraph {
    font-size: 20px;
  }
}

.portfolio-card {
  background: #FFF;
  padding: 10px;
  max-width: 423px;
  margin-bottom: 50px;
}

.portfolio-card img {
  border-radius: 8px 8px 0px 0px;
}

.portfolio-card-description {
  text-align: center;
  box-shadow: 0px 5px 5px 0px rgba(233, 226, 226, 0.5);
  padding: 40px 0;
}

.testimonial-section {
  background: #f8fafd;
  padding: 120px 0;
}
.testimonial-section .card {
  background-color: var(--white);
  max-width: 536.67px;
  padding: 32px 36px;
  border-radius: 8px;
  border-left: 3px solid var(--blue, #07F);
}

.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.testimonial-title {
  text-align: center;
  margin-bottom: 60px;
}

.slick-next {
  right: 0px !important;
}

.slick-prev {
  left: 0px !important;
}

.card {
  margin-right: 40px;
}

.card-title-margin {
  margin-bottom: 0;
}

.card-img {
  width: 48px;
  height: 48px;
  margin-right: 5px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-profile {
  display: flex;
}

.card-star-position {
  display: flex;
  align-items: center;
}

.card-star {
  width: 16.67px;
  height: 16.67px;
}

.card-text {
  max-width: 464.67px;
}

.callToAction-section {
  background: var(--heading-color);
}

.callToAction-title {
  color: var(--white);
  margin-bottom: 24px;
}

.callToAction-paragraph {
  color: var(--white);
  opacity: 0.8;
  margin-bottom: 48px;
}

.callToAction-bottom {
  display: flex;
  align-items: center;
}
.callToAction-bottom .callToAction-calling {
  display: flex;
}
.callToAction-bottom .callToAction-calling .app-calling-img {
  width: 51px;
  height: 51px;
}
.callToAction-bottom .callToAction-calling .callToAction-calling-right {
  display: flex;
  position: relative;
}
.callToAction-bottom .callToAction-calling .callToAction-calling-right .calling-img {
  position: absolute;
  top: 0;
  left: -29px;
}

.callToAction-left {
  max-width: 623px;
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px;
}
.callToAction-left .callToAction {
  display: flex;
  align-items: center;
}
.callToAction-left .callToAction .callToAction-heading {
  color: var(--white);
  opacity: 0.8;
}
.callToAction-left .cruv {
  position: absolute;
  bottom: 0;
  right: -90px;
}
.callToAction-left .cruv .cruv-img {
  width: 158.7px;
  height: 139.88px;
}

.callToAction-right {
  max-width: 558px;
  margin-top: -113px;
}

@media only screen and (max-width: 1024px) {
  .callToAction-left {
    text-align: center;
    margin: 60px 0;
  }
  .callToAction-left .appointment {
    justify-content: center;
  }
  .callToAction-right {
    display: none;
  }
}
@media only screen and (max-width: 699px) {
  .callToAction-bottom {
    flex-direction: column;
    gap: 20px;
  }
  .cruv {
    display: none;
  }
}
.footer-section {
  background-color: var(--heading-color);
  padding-top: 120px;
  padding-bottom: 32px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 30px;
  height: 42.83px;
  margin-right: 10px;
}

.footer-paragraph {
  max-width: 596px;
}

.logo-title, .footer-paragraph {
  color: var(--white);
}

.footer-title {
  color: var(--white);
  margin-bottom: 24px;
}

.text-color {
  color: var(--text-light);
  margin-bottom: 12px;
}

.social-img {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.social-img .social-img1 {
  width: 50px;
  height: 50px;
  background-color: var(--text-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.social-img .social-img1 .img1 {
  width: 8px;
  height: 17px;
}
.social-img .social-img2 {
  width: 50px;
  height: 50px;
  background-color: var(--text-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.social-img .social-img2 .img2 {
  width: 16.67px;
  height: 13.33px;
}
.social-img .social-img3 {
  width: 50px;
  height: 50px;
  background-color: var(--text-dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-img .social-img3 .img2 {
  width: 12px;
  height: 12px;
}

.footer-calling-right {
  display: flex;
  margin-top: 30px;
}

@media only screen and (max-width: 1399px) {
  .footer-middle {
    gap: 10px;
  }
}
@media only screen and (max-width: 992px) {
  .footer-top {
    justify-content: center;
    flex-direction: column;
  }
  .footer-middle {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
.blog-section {
  padding: 120px 0;
}
.blog-section h1 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  font-size: 38px;
  text-align: center;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .blog-section h1 {
    font-size: 42px;
  }
}
@media (min-width: 1400px) {
  .blog-section h1 {
    font-size: 48px;
  }
}

.blog-title {
  text-align: center;
  margin-bottom: 60px;
}

.blog-left {
  max-width: 644px;
  border-radius: 10px 10px 0 0;
}
.blog-left .blog-img {
  border-radius: 10px 10px 0 0;
}
.blog-left .blog-text {
  box-shadow: 0px 4px 30px 0px rgba(19, 19, 37, 0.07);
}
.blog-left .blog-read {
  display: flex;
}

.blog-read-color {
  color: var(--blue);
}

.blog-right {
  max-width: 626px;
}
.blog-right .small-blog-img {
  border-radius: 10px;
}
.blog-right .blog-part {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.blog-right .blog-part .blog-small-img {
  max-width: 241px;
  border-radius: 10px;
  margin-right: 13px;
}
.blog-right .blog-part .blog-read {
  display: flex;
}

.blog-small-title {
  max-width: 406px;
}

@media only screen and (max-width: 992px) {
  .blog {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
.about-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 73px;
  padding-bottom: 73px;
}
.about-section .about-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section .about-content-wrapper .about-content-text {
  max-width: 422px;
  padding: 40px 48px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  text-align: center;
}
.about-section .about-content-wrapper .about-content-text h1 {
  color: white;
  margin-bottom: 32px;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.08em;
  letter-spacing: -0.015em;
  text-transform: capitalize;
}
.about-section .about-content-wrapper .about-content-text .about-block-title {
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: capitalize;
  margin-right: 6px;
}
.about-section .about-content-wrapper .about-content-text .about-block-text {
  color: var(--secondary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: capitalize;
  margin-left: 6px;
}

.experience-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.experience-title-wrapper .experience-title-text {
  display: flex;
  align-items: center;
}
.experience-title-wrapper .experience-title-text h5 {
  margin-bottom: 10px;
}
.experience-title-wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.experience-content-image {
  max-width: 622px;
  position: relative;
}
.experience-content-image__block {
  max-width: 355px;
  border-radius: 10px;
  border-left: 6px solid var(--blue-blue-01, #07F);
  background: var(--white);
  box-shadow: 0px 0px 20px 0px rgba(104, 102, 102, 0.16);
  position: absolute;
  bottom: 48px;
  left: 40px;
}
.experience-content-image__block h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: capitalize;
  padding: 12px 12px 0 12px;
  margin-bottom: 14px;
}
.experience-content-image__block p {
  padding: 0 12px 12px 12px;
}

.gap-90 {
  gap: 90px;
}

.experience-content-text {
  max-width: 607px;
  padding: 0;
}
.experience-content-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.74em;
  margin-bottom: 30px;
}
.experience-content-text .experience-icon-text {
  max-width: 490px;
  display: flex;
  gap: 20px;
}
.experience-content-text .experience-icon-text h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.experience-content-text .experience-icon-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.74em;
  color: #131325;
}
.experience-content-text .experience-icon-text img {
  width: 50px;
  height: 50px;
}

.advantage-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #F8FAFD;
}

.advantage-content-wrapper .advantage-title-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.advantage-content-wrapper .advantage-content-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.advantage-content-wrapper p {
  font-family: ABeeZee;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.74em;
  margin-bottom: 24px;
}
.advantage-content-wrapper .advantage-point-wrapper .advantage-point {
  margin-bottom: 16px;
}
.advantage-content-wrapper .advantage-point-wrapper .advantage-point img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.advantage-content-wrapper .advantage-point-wrapper .advantage-point span {
  font-family: ABeeZee;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.74em;
}

.team-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-title-wrapper .team-card .team-title-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.team-title-wrapper .team-card .team-section-title {
  max-width: 823px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 24px;
}
.team-title-wrapper .team-card p {
  max-width: 778px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.74em;
  text-align: center;
}

.img-full {
  width: 100%;
}/*# sourceMappingURL=style.css.map */