@use "../abstract/" as *;
.appointment-section{
    background: var(--secondary); 
}
.appointment-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    // grid-column-gap:139px;
    justify-content: space-between;
    align-items: center;
    .appointment-title{
        color: var(--white);
        margin-bottom: 24px;
    }
    .appointment-paragraph{
        color: var(--white);
        opacity: 0.8;
        margin-bottom: 48px;

    }
}
.appointment-bottom{
   display: flex;
   align-items: center;
   .appointment-calling{
    display: flex;
    .app-calling-img{
        width: 51px;
        height: 51px;
        
    }
    .appointment-calling-right{
        display: flex;
        position: relative;
        
        .calling-img{
            position: absolute;
            top: 0;
            left: -29px;

        }
    }
   }
}
.appointment-left{
    max-width: 623px;
    position: relative;
    //  margin: 120px 0;
    .appointment{
         display: flex;
         align-items: center;
         .appointment-heading{
            color: var(--white);
            opacity: 0.8;
         }
    }
    .cruv{
        position: absolute;
        bottom: 0;
        right: -90px;
        .cruv-img{
            width: 158.7px;
            height: 139.88px;
        }
    }
    }
    

.appointment-right{
   max-width: 558px;
    margin-top: -113px;
}
@media only screen and (max-width:1024px){
    .appointment-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        .appointment-left{
            text-align: center;
            margin: 60px 0;
            .appointment{
                justify-content: center;
            }
        }

        .appointment-right{
            display: none;
        }
    }
}
@media only screen and (max-width:699px){
    .appointment-bottom{
        flex-direction: column;
        gap: 20px;
    }
    .cruv{
        display: none;
    }
}