@use '../abstract/' as *;
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 
}
.banner-title{
    max-width: 598px; 
    padding: 34px 0;
}
.banner-form{
    background-image: url(../../assets/banner/Mask\ group.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 10px;
    max-width: 619px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-heading{
   margin-bottom: 24px;
}
.banner-description{
    margin-bottom: 140px;
 }

.banner-form-detail{
   border-color: rgba(255, 255, 255, .2);
   box-shadow: 0 4px 15px #0000001c;
   background-color: #ffffff1c;
   backdrop-filter: blur(6px);
   border-radius: 10px;
   padding: 48px 40px;  
   width: 425.78px; 
 
}
.input-text,.input-email,.input-select,.input-textarea{
    width: 100%;
    padding:22px;
    margin-bottom: 16px;
    border: none;
    background-color: var(--white);
    border-radius: 8px;
    outline: none;
    
}
.input-textarea{
    padding: 18px 20px 90px 20px;
}
.banner-btn{
    width: 100%;
    background-color: #d20d0c;
    border: none;
    padding: 20px;
    color: white;
    border-radius: 5px;
}

@media only screen and (max-width: 992px) {
    .banner{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .banner-heading{
        text-align: center;
       }
       .banner-description{
        text-align: center;
        margin-bottom: 36px;
       }
       .banner-img-group{
         display: flex;
         justify-content: center;
       }
       .banner-form{
        width: 100%;
       padding: 60px 0;
       }
}

