@use '../abstract/' as *;

.blog-section {
    @include py(60px);

    @include desktop {
        @include py(120px)
    }

    h1 {
        @include heading-48;
        text-align: center;
        margin-bottom: 60px;
    }
}

.blog-title {
    text-align: center;
    margin-bottom: 60px;
}

.blog-left {
    border-radius: 0px 0px 6px 6px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 30px 0px rgba(19, 19, 37, 0.07);

    .blog-img {
        border-radius: 10px 10px 0 0;
    }

    .blog-text {
        padding: 48px 40px 40px 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        gap: 25px;
        border-radius: 0px 0px 6px 6px;
        background: var(--white, #FFF);
    }

    .blog-read {
        display: flex;
        align-items: center;

        .read-arrow {
            width: 24px;
            height: 24px;
        }

    }
}

.blog-read-color {
    color: var(--blue);
}

.blog-right {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    flex: 1 0 0;

    @include mobile {
        .block-title {
            font-size: 18px;
        }
    }

    @include desktop {
        max-width: 626px;

        .block-title {
            font-size: 22px;
        }
    }

    .small-blog-img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .blog-part {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;

        .blog-small-img {
            max-width: 206px;
            max-height: 274px;
            flex-shrink: 0;
            border-radius: 10px;
        }

        @include mobile {

            .blog-small-img {
                max-width: 206px;
                height: 100%;
                flex-shrink: 0;
                border-radius: 10px;
            }

        }

        .blog-read {
            display: flex;
            align-items: center;

            .read-arrow {
                width: 24px;
                height: 24px;
            }
        }
    }

    @include mobile {
        .blog-part {
            display: flex;
            align-items: center;
            gap: 10px;
            align-self: stretch;
        }
    }

    @include mobile-large {
        .blog-part {
            display: flex;
            align-items: center;
            gap: 20px;
            align-self: stretch;
        }
    }

}

@include desktop {
    .blog-left {
          box-shadow: none;
    }
}

.blog-small-title {


    .block-title {
        @include myb(14px)
    }
}