@use "../abstract/"as *;
.about-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-content-text{
    .service{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
   
}
.about-description{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        max-width: 806px;
        margin-bottom: 24px;
        @include heading-48;
     }
  p {
         max-width: 665px;
         margin-bottom: 24px;
         @include paragraph-20;
     } 
}
.about-read{
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
    .about-read-color{
        color: var(--blue);
    }
}
.line-text{
    margin-bottom: 0;
}
.about-arrow{
    width: 24px;
    height: 24px;
}
.about-img-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap:24px;
}
.about-img1{
    max-width: 400.21px;
    border-radius: 10px;
    // padding: 0;
    .img{
        border-radius: 10px !important;
     }
}
.about-img2{
    max-width: 493.28px;
    .img{
        border-radius: 10px !important;
     }
}
.about-img3{
    max-width: 400.21px;
        .img{
           border-radius: 10px !important;
        }
}
.col-xl-4.col-lg-4.col-md-12 {
    justify-content: center;
    display: flex;
}
