@use "../abstract/"as *;
.client-section{
    margin: 120px 0;
}
.client-description{
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
}
.client-heading{
    max-width: 806px;
    text-align: center;
    margin-bottom: 24px;
}
.client-paragraph-content{
    display: flex;
    justify-content: center;
}
.client-paragraph{
    max-width: 665px;
    text-align: center;
    // margin-left: 90px;
    margin-bottom: 24px;
   
}
.client-read{
    display: flex;
    align-items: center;
    justify-content: center;
    .client-read-color{
        color: var(--blue);
    }
}

.client-arrow{
    width: 24px;
    height: 24px;
}
.client-img-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap:24px;
}
.client-img1{
    max-width: 400.21px;
    border-radius: 10px;
    // padding: 0;
    .img{
        border-radius: 10px !important;
     }
}

.client-img2{
    max-width: 493.28px;
    .img{
        border-radius: 10px !important;
     }
}

.client-img3{
    max-width: 400.21px;
        .img{
           border-radius: 10px !important;
        }
}
.client-img-content {
    
}
@media only screen and (max-width:768px){
    .client-img-content{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
  
}
