@use "../abstract/" as *;
.project-section{
    padding: 120px 0;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.project-description{
    margin-bottom: 60px;
}
.project-title{
    text-align: center;
    margin-bottom: 40px;
  }
.nav{
    justify-content: center;
}
.nav-item{
    margin: 0px 30px;
}

.nav-item:first-child{
    margin-left: 0px !important;
}
.nav-item:last-child{
    margin-right: 0px !important;
}
.nav-link{
    color: var(--secondary);
    border:0 !important;
    background-color: none !important;
    border-bottom: 2px solid var(--blue) !important;
}

 .first-tap{
        color: #0077FF !important;
    }
    
    .project-card-container{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        
    }
    .project-card{
        background: #FFF;
        padding: 10px; 
        max-width: 423px; 
        margin-bottom: 60px;
    }
    .project-card img{
        border-radius: 8px 8px 0px 0px;
    }
    .project-card-description{
        text-align: center;
        box-shadow: 0px 5px 5px 0px rgba(233, 226, 226, 0.5);
        padding: 40px 0;    
    }
    @media only screen and (max-width:1024px){
        .project-card-container{
            grid-template-columns: repeat(2,1fr);
            justify-items: center;
        }
    }
    @media only screen and (max-width:783px){
        .project-card-container{
            grid-template-columns: repeat(1,1fr);
            justify-items: center;
        }
    }