@use "../abstract/" as *;
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.project-title{
    text-align: center;
    margin-bottom: 40px;
  }


.project-tap>ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 60px;
        
       li{
        list-style-type: none;
        border-bottom: 1px solid var(--text-dark);
       
        a{
            text-decoration: none;
            margin-right: 60px;
            color: var(--text-dark);
        
        }
       }
       
    }
    .first-tap{
        color: #0077FF !important;
    }
    
    .project-card-container{
        // display: grid;
        // grid-template-columns: repeat(3,1fr);
        justify-content: center;
    }
    .project-card{
        background: #FFF;
        padding: 10px; 
        max-width: 423px; 
    }
    .project-card img{
        border-radius: 8px 8px 0px 0px;
    }
    .project-card-description{
        text-align: center;
        box-shadow: 0px 5px 5px 0px rgba(233, 226, 226, 0.5);
        padding: 40px 0;    
    }