@use "../abstract" as *;
.service-section{
    background-color:#F8FAFD;
    @include py(60px);
     @include desktop{
        @include py(120px)
     }
    .col-xl-4.col-lg-4.col-sm-12 {
        display: flex;
        justify-content: center;
    }
}

.service-content-heading{
    .service{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .service-section-title{
        @include heading-48;
        text-align: center;
        @include myb(40px);
        @include desktop{
            @include myb(60px)
        }
        
    }
}



.line{
    width: 30px;
    height: 2px;
    background: var(--yellow);
    margin-right: 10px;
}


.line-text{
    margin-bottom: 0;
}
.card-img-size{
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}
.card-heading{
    margin-bottom: 12px;
}
.card-description{
    margin-bottom: 32px;
}
.card-btn{
       display: flex;
       align-items: center;
       justify-content: center;
}

.service-card--width{
   
    @include desktop{
        max-width: 419.67px;
    }
}
.btn{
    background: none;
    border: 0;
    font-size: 16px;
    
}


