@use "../abstract" as *;
.service-section{
    background-color:#F8FAFD;
    padding: 120px 0;
    .col-xl-4.col-lg-4.col-sm-12 {
        display: flex;
        justify-content: center;
    }
}
.service-content-heading{
    .service{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1{
        @include heading-48;
        text-align: center;
        margin-bottom: 60px;
    }
}
.service-heading{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    .service-title{
        text-align: center;
    }
}

.line{
    width: 30px;
    height: 2px;
    background: var(--yellow);
    margin-right: 10px;
}
.service-card{
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
   
}
.first-service-card{
    text-align: center;
    background-color: white;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 6px 12px 40px 0px rgba(19, 19, 37, 0.07);
    max-width: 419.67px;
    margin-right: 10px;
}
.first-service-card:hover{
    background-color: var(--secondary);
    color: var(--white);
    transition: background-color .4s ease-in;
    .btn{
        color:var(--white);
    }
    .icon-black{
        display:none;
    }
}
.line-text{
    margin-bottom: 0;
}
.card-img-size{
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}
.card-heading{
    margin-bottom: 12px;
}
.card-description{
    margin-bottom: 32px;
}
.card-btn{
       display: flex;
       align-items: center;
       justify-content: center;
}
.btn{
    background: none;
    border: 0;
    font-size: 16px;
    // @include paragraph-16(1.4em);
}
@media only screen and (max-width:1024px){
    .service-card{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
}
@media only screen and (max-width:783px){
    .service-card{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
}

