@use '../abstract/'as *;
.testimonial-section{
    background: #f8fafd;
    @include py(80px);
   @include desktop{
    @include py(120px)
   }
    .card{
        background-color: var(--white);
       width: 100%;
       @include desktop{
            @include py(32px);
            @include px(36px)
       }
       @include large-desktop{
            max-width: 536.67px;
            @include py(32px);
            @include px(36px)
       }
       
       
        border-radius: 8px;
        border-left: 3px solid var(--blue, #07F);
    }
}

.testimonial{
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-bottom: 10px;
}
.testimonial-title{
    text-align: center;
    margin-bottom: 60px;
}
.slick-next {
     right:0px !important;
}
.slick-prev {
    left: 0px !important;
}
.card{
    margin-right: 40px;
}
.card-title-margin{
    margin-bottom: 0;
}
.card-img{
    width: 48px;
    height: 48px;
    margin-right: 5px;
}
.card-title{
    display: flex;
    justify-content: space-between;
     align-items: center;
}
.card-profile{
    display: flex;  
}
.card-star-position{
    display: flex;
    align-items: center;
}
.card-star{
    width: 16.67px;
    height: 16.67px;
}
.card-text{
   
        max-width: 464.67px;
    
    
}
