@use "../../abstract" as *;

.blog-section {
  @include py(60px);

  @include tablet {
    @include py(80px)
  }

  @include desktop {
    @include py(120px)
  }
}

.blog-card-right {
  display: flex;
  flex-direction: column;
  gap: 42px;
  flex: 1 0 0;
}