@use "../../abstract" as *;

.cta-section {
  background-color: $heading-color;


}

.cta-content-wrapper {

  @include mobile {
    text-align: center;
    @include py(60px)
  }

  @include desktop {
    text-align: initial;

  }

  .content-title-block {
    p {
      margin-bottom: 48px;
    }
  }

  .cta-content-bottom {
    display: flex;
    column-gap: 40px;
    align-items: center;
    position: relative;

    .cta-content-call {
      display: flex;
      column-gap: 42px;
      align-items: center;
      position: relative;

      .person-img {
        width: 51px;
        height: 51px;
      }

      .calling-icon {
        width: 51px;
        height: 51px;
        position: absolute;
        left: 29px;
        top: 7px;

      }
    }

    .cta-shape {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  .cta-shape {
    position: absolute;
    top: -76px;
    right: -127px;


    @include desktop {
      top: -69px;
      right: -128px;
    }

    @include large-desktop {
      top: -65px;
      right: -90px;
    }
  }

  img {
    width: 158px;
    height: 158px;
  }
}


.cta-image-wrapper {
  display: none;

  @include desktop {
    display: block;
  }

  img {
    @include desktop {
      max-width: 400px;
      height: 578px;
    }

    @include large-desktop {
      max-width: 558px;
      height: 752px;
    }

    object-fit: cover;
    margin-top: -129px;
  }
}


// .cta-section {
//   color: var(--white);
//   background: var(--heading-color);
//   position: relative;
//   padding: 50px 0px;
//   @include desktop {
//     margin-top: 140px;
//     padding: 0px;
//   }

//   .cta-bg-white {
//     background: white;
//     display: none;
//     position: absolute;
//     top: 0px;
//     height: 16%;
//     width: 100%;
//     @include desktop {
//       display: block;
//     }
//   }
//   .cta-image-wrap {
//     position: relative;
//     z-index: 1;
//     display: none;
//     @include desktop {
//       display: block;
//       margin-top: -140px;
//     }
//   }
//   .cta-text-block {
//     position: relative;

//     .cta-shape {
//       position: absolute;
//       bottom: -50px;
//       right: -20px;
//       @include desktop {
//         bottom: -50px;
//         right: -95px;
//       }

//       img {
//         max-width: 158px;
//         display: none;
//         @include mobile {
//           display: block;
//         }
//       }
//     }
//   }
// }

// .cta-action-group {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 40px;
//   margin-top: 48px;
//   @include tablet {
//     flex-direction: row;
//   }

//   .emergency-call-block {
//     position: relative;
//     display: flex;
//     align-items: center;
//     gap: 16px;
//     .avater-icon-block {
//       display: flex;
//       align-items: center;
//       .cta-avater {
//         width: 51px;
//         height: 51px;
//         border-radius: 50%;
//         overflow: hidden;

//         img {
//           width: 100%;
//         }
//       }
//       .cta-call-icon {
//         margin-left: -25px;
//       }
//     }

//     .cta-call-text {
//       display: flex;
//       flex-direction: column;
//       gap: 8px;

//       p {
//         margin-bottom: 0px;
//       }
//     }
//   }
// }