@use "../../abstract" as *;

.cta-section {
  background-color: $heading-color;

}

.cta-content-wrapper {

  @include mobile {
    text-align: center;
    @include py(60px)
  }

  @include desktop {
    text-align: initial;

  }

  .content-title-block {
    p {
      margin-bottom: 48px;
    }
  }



  .cta-shape {
    position: absolute;
    top: -76px;
    right: -127px;


    @include desktop {
      top: -69px;
      right: -128px;
    }

    @include large-desktop {
      top: -65px;
      right: -90px;
    }
  }

  img {
    width: 158px;
    height: 158px;
  }
}

.cta-content-bottom {
  display: flex;
  column-gap: 40px;
  align-items: center;
  position: relative;

  .cta-shape {
    display: none;

    @include tablet {
      display: block;
    }
  }
}

.cta-image-wrapper {
  display: none;

  @include desktop {
    display: block;
  }

  img {
    @include desktop {
      max-width: 400px;
      height: 578px;
    }

    @include large-desktop {
      max-width: 558px;
      height: 752px;
    }

    object-fit: cover;
    margin-top: -129px;
  }
}