@use "../../abstract" as *;

.cta-section {
  color: var(--white);
  background: var(--heading-color);
  position: relative;

  .cta-bg-white {
    background: white;
    position: absolute;
    top: 0px;
    height: 16%;
    width: 100%;
  }
}
.cta-image-wrap {
  position: relative;
  z-index: 1;
}
