
@use '../../abstract' as *;
/*------ 
Hero Section Styles 
-------------------*/ 
.hero-section{
    padding-top: 32px;
    padding-bottom: 60px;
}

.hero-content-texts{
    text-align: center;
    @include desktop{
        max-width: 598px;
        text-align: left;
    }
    .page-title{
        margin-bottom: 24px;
    }
    p{
        margin-bottom: 15px;
        &:last-of-type{
            margin-bottom: 0;
        }
    }
    .hero-logo-block{
        max-width: 397px;
        display: inline-flex;
        column-gap: 16px;
        padding-top: 30px;
        @include tablet{
            padding-top: 40px;
        }
        @include desktop{
            padding-top: 140px;
        }
        img{
            width: 100%;
        }
    }
}





