@use "../../abstract" as *;

.location-section {
  @include py(60px);

  @include tablet {
    @include py(80px)
  }

  @include desktop {
    padding-top: 120px;
    padding-bottom: 240px;
  }

  .section-title-block {
    p {
      max-width: 621px;
      margin: 0 auto;
    }
  }
}



.service-area-slider {
  .slick-list {
    margin: 0px 30px;
  }

  .slick-slide {

    @include desktop {
      margin: 0 30px;
    }

  }

  .slick-prev {
    border: 2px solid #919eab;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: -32px;
  }

  .slick-next {
    border: 2px solid #919eab;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-left: -32px;
  }



  .slick-next.slick-arrow {
    &::before {
      content: url("https://i.ibb.co/wBjyWJJ/arrow-right-01-sharp.png");
    }
  }

  .slick-prev.slick-arrow {
    &::before {
      content: url("https://i.ibb.co/KXVcZX2/arrow-right-02-sharp.png");
    }
  }
}