@use "../../abstract" as *;

.about-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include py(73px);

    .about-content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .about-content-text {
            padding: 40px 48px;
            border-radius: 8px;
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(2px);
            text-align: center;

            h1 {
                color: white;
                margin-bottom: 32px;
                font-size: 64px;
                font-weight: 700;
                line-height: 1.08em;
                letter-spacing: -0.015em;
                text-transform: capitalize;
            }

            .about-content-sub-title-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;

                .about-block-title {
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.30em;
                    text-transform: capitalize;
                    font-family: $heading-font;

                }

                .about-block-text {
                    color: var(--secondary);
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 1.30em;
                    text-transform: capitalize;
                    font-family: $heading-font;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }




        }
    }
}