@use '../../abstract/' as *;

.about_content-section {
    @include py(60px);

    @include tablet {
        @include py(80px)
    }

    @include desktop {
        @include py(120px)
    }

}

.experience-title-wrapper {
    .experience-title-text {
        display: flex;
        align-items: center;

        h5 {
            margin-bottom: 10px;
        }
    }

    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.30em;
        letter-spacing: -0.015em;
        text-transform: capitalize;
        margin-bottom: 60px;
    }
}

.about-content-image {
    position: relative;

    @include tablet {
        display: flex;
        justify-content: center;
    }

    @include desktop {
        justify-content: initial;
    }

    &__block {
        max-width: 355px;
        border-radius: 10px;
        border-left: 6px solid var(--blue-blue-01, #07F);
        background: var(--white);
        box-shadow: 0px 0px 20px 0px rgba(104, 102, 102, 0.16);
        position: absolute;
        bottom: 48px;
        left: 40px;

        h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.30em;
            text-transform: capitalize;
            padding: 12px 12px 0 12px;
            margin-bottom: 14px;
        }

        p {
            padding: 0 12px 12px 12px;
        }

        img {
            width: 100%;
        }

    }
}

.gap-column {

    @include large-desktop {
        column-gap: 90px;
    }
}


.about-content-text {
    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.74em;
        margin-bottom: 30px;
    }

    .about-icon-text {
        max-width: 490px;
        display: flex;
        gap: 20px;

        h3 {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.30em;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.74em;
            color: #131325;
        }

        img {
            width: 50px;
            height: 50px;
        }

    }

    @include tablet {

        .about-content-text-description {
            text-align: center;
            margin-bottom: 30px;
            max-width: 426px;
            margin: 0 auto;
        }

        .about-icon-text {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 auto;

            p {
                text-align: center;
                max-width: 426px;
                margin: 0 auto;
            }

            h3 {
                text-align: center;
            }
        }
    }

    @include desktop {
        .about-content-text-description {
            text-align: start;
            margin-bottom: 18px;

            @include large-desktop {
                margin-bottom: 30px;
            }

            max-width: initial;
        }

        .about-icon-text {
            justify-content: initial;
            align-items: initial;
            flex-direction: row;
            margin-bottom: 18px;

            @include large-desktop {
                margin-bottom: 30px;
            }

            p {
                text-align: initial;
                max-width: initial;

            }

            h3 {
                text-align: initial;
            }

        }



    }
}