@use "../../abstract" as *;

.privacy-section {
    @include py(60px);

    @include tablet {
        @include py(80px)
    }

    @include desktop {
        @include py(120px)
    }
}

.privacy-content-top {
    span {
        @include paragraph-20;

    }

    p {
        @include paragraph-20;
        margin-bottom: 36px;
        margin-top: 36px;
    }
}

.privacy-content-body {
    margin-bottom: 36px;

    h4 {
        @include heading-20;
        margin-bottom: 16px;
    }

    p {
        @include paragraph-20;
        margin-bottom: 16px;
    }

    ul {
        li {
            list-style-type: disc;
            list-style-position: inside;
            @include paragraph-20;

            &:last-child {
                margin-bottom: 16px;
            }
        }
    }
}

.privacy-content-bottom {
    h4 {
        @include heading-20;
        margin-bottom: 16px;
    }

    p {
        @include paragraph-20;
        margin-bottom: 36px;
    }
}