@use "../../abstract" as *;

.contact-info-section {
    @include py(60px);

    @include tablet {
        @include py(80px)
    }

    @include desktop {
        @include py(120px)
    }
}

.contact-info-content {
    max-width: 601px;
    padding: 77px 64px;
    background-color: $bg-color;

    .content-title-block {
        margin-bottom: 40px;

        .content-title {
            margin-bottom: 10px;
        }
    }
}