.advantage-section{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #F8FAFD;
}

.advantage-content-wrapper{
    .advantage-title-text{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .advantage-content-title{
        font-size: 48px;
        font-weight: 700;
        line-height: 1.30em; 
        letter-spacing: -0.015em;
        text-transform: capitalize;
        margin-bottom: 24px;
    }
    p{
        font-family: ABeeZee;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.74em; 
        margin-bottom: 24px;
    }
    .advantage-point-wrapper{
        .advantage-point{
            margin-bottom: 16px;
            img{
                width: 28px;
                height:28px;
                margin-right: 10px
            };
            span{
                font-family: ABeeZee;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.74em; 
            }

        }
    }
}

