@use "../../abstract/" as *;

.advantage-section {
    @include py(60px);

    @include tablet {
        @include py(80px)
    }

    @include desktop {
        @include py(120px);
    }

    @include large-desktop {
        @include py(120px);
    }

    @include extra-large-desktop {
        @include py(120px);
    }

    background-color: #F8FAFD;
}

.advantage-section-wrapper {
    @include mobile {
        flex-direction: column-reverse;
        align-items: center;
    }


    @include extra-large-desktop {
        flex-direction: row;
        align-items: center;
    }
}

.advantage-content-wrapper {
    @include desktop {
        margin: 0 auto;
    }

    .advantage-title-text {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .advantage-content-title {
        font-size: 48px;
        font-weight: 700;
        line-height: 1.30em;
        letter-spacing: -0.015em;
        text-transform: capitalize;
        margin-bottom: 24px;
    }

    p {
        font-family: ABeeZee;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.74em;
        margin-bottom: 24px;
        max-width: 671px !important;
    }

    .advantage-point-wrapper {
        .advantage-point {
            margin-bottom: 16px;

            img {
                width: 28px;
                height: 28px;
                margin-right: 10px
            }

            ;

            span {
                font-family: ABeeZee;
                font-size: 20px;
                font-weight: 400;
                line-height: 1.74em;
            }

        }
    }
}