.experience-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.experience-title-wrapper{
    .experience-title-text{
        display: flex;
        align-items: center;
        h5{
            margin-bottom: 10px;
        }
    }
    h1{
        font-size: 48px;
        font-weight: 700;
        line-height: 1.30em;
        letter-spacing: -0.015em;
        text-transform: capitalize;
        margin-bottom: 60px;
    }
}

.experience-content-image{
    max-width: 622px;
    position: relative;
    &__block{
           max-width: 355px;
           border-radius: 10px;
           border-left: 6px solid var(--blue-blue-01, #07F);
           background: var(--white);
           box-shadow: 0px 0px 20px 0px rgba(104, 102, 102, 0.16);
            position: absolute;
            bottom: 48px;
            left: 40px;
           h3{
            font-size: 24px;
            font-weight: 700;
            line-height: 1.30em; 
            text-transform: capitalize;
            padding:12px 12px 0 12px;
            margin-bottom: 14px;
           }
           p{
            padding: 0 12px 12px 12px;
           }
    }
}
.gap-90{
    gap: 90px;
}
.experience-content-text{
    max-width: 607px;
    padding: 0;
    p{
        font-size: 20px;
        font-weight: 400;
        line-height: 1.74em; 
        margin-bottom: 30px;
    }
    .experience-icon-text{
        max-width: 490px;
        display: flex;
        gap: 20px;
        h3{
            font-size: 20px;
            font-weight: 700;
            line-height: 1.30em;
            text-transform: capitalize;
            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
            font-weight: 400;
            line-height: 1.74em;
            color: #131325;
        }
        img{
            width: 50px;
            height: 50px;
        }

    }
}