@use "../abstract" as *;

.accordion-style {
    max-width: 803px;


}

.accordion-button:not(.collapsed)::after {

    --bs-accordion-btn-active-icon: none;

}

.accordion-button {
    @include heading-20;
    color: #170F49 !important;
    padding-left: 40px;
    padding-right: 40px;

    &::after {

        @include fontawesome("\f105");
        color: $secondary;
        flex-shrink: 0;

        margin-left: auto;

        --bs-accordion-btn-icon: none;

        transition: var(--bs-accordion-btn-icon-transition);

    }
}

.accordion-body {
    p {
        padding-left: 17px;
        padding-right: 70px;
        @include paragraph-16;
    }
}

.accordion-button:not(.collapsed) {
    background-color: unset !important;
    box-shadow: unset !important;

}