@use '../abstract' as *;

.btn {
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4em;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    margin-top: 10px;
    @include py(16px);
    @include px(26px);
    @include flex(inline-flex);
    font-family: $heading-font;
    &-primary {
        color: var(--white) !important;
        background: var(--primary) !important;
    }

    &-lg {
        @include py(20px);
    }

    &-link {
        /* Button/button 1 */
        font-family: $heading-font;
        @include paragraph-20($line-height: 1.4, $letter-spacing: 0.01em, $font-weight: 400);
        text-decoration: none;
        @include column-gap($flex: inline-flex, $gap: 7px);
        color: $heading-color;
        &--primary {
            color: rgba($secondary-rgb, 0.8);
        }

        &__icon {
            width: 16px;

            path {
                stroke: currentColor;
            }
        }
        &--sm{
            @include paragraph-16;
            column-gap: 8px;
        }
    }
}