@use '../abstract' as *;

// service card scss
.service-card {
    padding: 40px 32px;
    border-radius: 16px;
    box-shadow: 6px 12px 40px 0px rgba(19, 19, 37, 0.07);
    text-align: center;

    .icon-hover {
        display: none;
    }

    &_icon {
        width: 64px;
        display: inline-block;
        margin-bottom: 32px;
        max-height: 64px;

        img {
            width: 100%;
        }
    }

    &_body {
        &_title {
            @include heading-24;
            margin-bottom: 12px
        }

        p {
            @include paragraph-16;
            margin-bottom: 32px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            @include heading-16;
            color: rgba($secondary, 0.8);
        }
    }

    &:hover {
        background-color: #131325;
        color: $white;
        transition: background-color 0.5s ease-in-out;

        .icon-hover {
            display: block;
        }

        .icon-normal {
            display: none;
        }

        .service-card_body_title {
            color: $white;
        }

        a {
            color: inherit;
        }
    }
}