@use "../abstract" as *;

.comment-form {
    max-width: 532px;

    .comment-area {

        max-width: 468px;
        position: relative;

        .comment-profile {
            position: absolute;
            top: 0;
            left: -13.5%;

            img {
                width: 48px;
                height: 48px;
            }
        }

        .comment-text {
            border-radius: 8px;
            border: 1px solid #C2C2C2;
            background: $white;
            padding: 20px 20px 78px 20px;

            input {
                border: 0;
                width: 100%;

            }

            input:focus {
                outline: 0;
            }

        }
    }
}