@use '../abstract' as *;
.list-type-check{
    margin-bottom: -16px;
    li{
        @include column-gap(10px);
        margin-bottom: 16px;
        color: $heading-color;
        &::before{
            @include fontawesome("\f00c");
            min-height: 23.33px;
            max-height: 23.33px;
            min-width: 23.33px;
            max-width: 23.33px;
            border-radius: 500px;
            background-color: $blue-fade;
            color: $blue;
            @include flex;
        }
    }
    &.two-column{
        display: flex;
        flex-wrap: wrap;
        &>*{
            max-width: 50%;
            width: 100%;
        }
    }
}