@use "../abstract" as *;

.process-card {
    border-radius: 12px;
    background: $white;
    box-shadow: 6px 12px 40px 0px rgba(19, 19, 37, 0.07);
    padding: 40px;

    .process-card-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .process-title {
            @include heading-24;
        }

        .process-title:before {
            content: "";
            width: 58px;
            height: 3px;
            border-radius: 500px;
            background: $yellow;
            display: inline-block;
            position: absolute;
            bottom: 0;

        }

        .process-count {
            @include heading-64;
            color: $text-light
        }

    }


    p {
        @include paragraph-16;
        padding-top: 24px;
    }

}