@use "../abstract" as *;

.process-widget {
    max-width: 991px;
    display: flex;
    align-items: center;
    column-gap: 28px;

    .process-widget-number {
        color: $secondary;
        text-align: center;
        font-family: $heading-font;
        font-size: 110px;
        font-weight: 700;
        line-height: 1em;
        opacity: 0.5;
        letter-spacing: -0.015em;
        text-transform: capitalize;
    }

    .process-widget-body {
        max-width: 838px;
        padding: 40px;
        border-radius: 8px;
        border-left: 3px solid $secondary;
        background: #F8FAFD;
        @include paragraph-20;
    }
}