@use "../abstract" as *;

.service-widget-card {
    max-width: 364px;

    .service-widget-img {
        width: 79px;
        height: 79px;
        background: #E5F1FF;
        border-radius: 6px;
        padding: 16px;
        margin-bottom: 24px;

        img {
            width: 47px;
            height: 47px;
        }
    }

    .service-widget-body {
        .service-widget-title {
            @include heading-20;
            margin-bottom: 16px;
        }

        p {
            @include paragraph-16;
        }
    }
}