@use "../abstract" as *;

.single-comment {

    position: relative;

    .profile-img {
        position: absolute;
        top: 0;
        left: -4.8%;

        img {
            width: 48px;
            height: 48px;
        }
    }

    .single-comment-body {
        max-width: 646.68px;

        .single-comment-heading {
            display: flex;
            justify-content: space-between;
            max-width: 566px;
            margin-bottom: 16px;

            .profile-name {
                @include heading-20;
            }

            p {
                color: #5F5F5F;
                font-size: 14px;
                font-weight: 400;
                line-height: 1.74em;

            }

            .comment-reply {
                display: flex;
                align-items: center;
                column-gap: 8px;

                h4 {
                    color: $secondary;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1em;

                }

                img {
                    width: 14px;
                    height: 12.25px;
                }
            }
        }

        p {
            @include paragraph-16;
            color: $heading-color;
        }
    }

}