@use "../abstract/" as *;

.stats-widget {
    display: flex;
    max-width: 200px;
    align-items: center;
    gap: 16px;

    .stats-widget-icon {
        max-width: 60px;

        img {
            width: 100%;
        }
    }

    .stats-widget-body {
        h3 {
            @include heading-40;
            margin-bottom: 8px;
        }

        span {
            font-size: 15px;
        }
    }
}