@use "../abstract" as *;

.tag-button {
    .tag-btn {
        background: none;
        padding: 8px 14px;
        border-radius: 4px;
        border: 1px solid var(--Grey-grey-03, #919EAB);

        @include paragraph-16;
    }
}