@mixin heading-64($weight: 700) {
  font-size: 42px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: $weight;
  line-height: 1.08em;
  letter-spacing: -0.015em;

  @media (min-width: 768px) {
    font-size: 50px;
  }

  @media (min-width: 1400px) {
    font-size: 64px;
  }
}

@mixin heading-48($weight: 700) {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: $weight;
  line-height: 1.2em;
  letter-spacing: -0.015em;
  font-size: 32px;

  @media (min-width: 768px) {
    line-height: 1.3em;
    font-size: 42px;
  }

  @media (min-width: 1400px) {
    font-size: 48px;
  }
}

@mixin heading-40($weight: 700) {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: $weight;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  font-size: 32px;

  @media (min-width: 768px) {
    line-height: 1.3em;
    font-size: 42px;
  }

  @media (min-width: 1400px) {
    font-size: 40px;
  }
}

@mixin heading-32($weight: 700) {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: $weight;
  line-height: 1.3em;
  letter-spacing: -0.015em;
  font-size: 28px;

  @media (min-width: 992px) {
    font-size: 32px;
  }
}

@mixin heading-24($weight: 700) {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: $weight;
  line-height: 1.3em;
  font-size: 22px;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

@mixin heading-20($weight: 700, $line-height: 1.3em) {
  font-size: 20px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: $weight;
  line-height: $line-height;
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

@mixin heading-16($weight: 600, $line-height: 1.3em) {

  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 14px;
  font-weight: $weight;
  line-height: 1.40em;
  letter-spacing: 0.01em;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

@mixin paragraph-20($line-height: 1.74, $letter-spacing: 0, $font-weight: 400) {
  line-height: $line-height;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  font-size: 18px;

  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

@mixin paragraph-18 {
  font-size: 16px;
  line-height: 1.74em;

  @media (min-width: 992px) {
    font-size: 18px;
  }
}

@mixin paragraph-16($line-height: 1.74em, $weight: 400) {
  font-size: 14px;
  line-height: $line-height;
  font-weight: $weight;

  @media (min-width: 768px) {
    font-size: 16px;
    font-weight: $weight;
  }
}

@mixin paragraph-14($line-height: 1.74em) {
  font-size: 12px;
  line-height: $line-height;
  font-weight: 400;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}