@mixin py($top, $bottom: $top) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin px($left, $right: $left) {
    padding-left: $left;
    padding-right: $right;
}

@mixin myt($top) {
    margin-top: $top;
}

@mixin myb($bottom) {
    margin-bottom: $bottom;
}


@mixin mobile {
    @media (min-width:480px) {
        @content;
    }
}

@mixin mobile-large {
    @media (min-width:575px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:992px) {
        @content;
    }
}

@mixin large-desktop {
    @media (min-width:1200px) {
        @content;
    }
}

@mixin extra-large-desktop {
    @media (min-width:1400px) {
        @content;
    }
}

@mixin flex($display: flex) {
    display: $display;
    justify-content: center;
    align-items: center;
}

@mixin column-gap($gap: 30px, $align: center, $flex: flex) {
    display: $flex;
    align-items: $align;
    column-gap: $gap;
}


@mixin fontawesome($unicode: "\f00c", $fw: 900) {
    content: $unicode;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

@mixin square($size, $radius: null) {
    min-width: $size;
    max-width: $size;
    min-height: $size;
    max-height: $size;
    border-radius: $radius;
}

@mixin size($sizeX, $sizeY) {
    min-width: $sizeX;
    max-width: $sizeX;
    min-height: $sizeY;
    max-height: $sizeY;
    width: $sizeX;
    height: $sizeY;
}