@use "../abstract/" as *;

/* ___________ Common Styles ___________ */
.page-title {
  @include heading-64;
}

.section-title-block,
.content-title-block {
  .subtitle {
    @include paragraph-20;
    margin-bottom: 10px;
    @include column-gap($flex: inline-flex, $gap: 12px);

    &::before {
      content: "";
      width: 36px;
      height: 3px;
      border-radius: 500px;
      background-color: $yellow;
      display: inline-block;
    }
  }

  .section-title,
  .content-title {
    @include heading-48;

    &+* {
      padding-top: 14px;
    }
  }

  p {
    @include paragraph-20;

    &:last-of-type {
      margin-bottom: 0;

      &+* {
        margin-top: 24px;
      }
    }
  }
}

.section-title-block {
  padding-bottom: 60px;
}

.gutter-30 {
  --bs-gutter-x: 1.875rem;
  --bs-gutter-y: 1.875rem;
}

.gutter-y-30 {
  --bs-gutter-y: 1.875rem;
}

.gutter-50 {
  --bs-gutter-x: 50px;
  --bs-gutter-y: 50px;
}

.gutter-x-90 {
  --bs-gutter-x: 90px;
}

.gutter-x-99 {
  --bs-gutter-x: 99px;
}

.gutter-x-65 {
  --bs-gutter-x: 65px;
}

.small-heading {
  @include heading-24;

  @include mobile {

    font-size: 18px;

  }

  @include desktop {
    font-size: 20px
  }

  @include large-desktop {
    font-size: 24px
  }

}

.span-text {
  @include paragraph-20;
}