@use "../abstract/" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.page-title{
    @include heading-64;
}
.section-title{
    @include heading-48;
}
.medium-title{
    @include heading-32;
}
.block-title{
    @include heading-24;
}
.small-heading{
    @include heading-20(600,1.40em)
}
.large-paragraph{
    @include paragraph-20;
}
.medium-paragraph{
    @include paragraph-18
}
.small-paragraph{
@include paragraph-16;
}