@use '../abstract' as *;
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@400;500&display=swap");

:root{
    --primary:#{$primary-hex};
    --primary-rgb:#{to-rgb($primary-hex)};
    --secondary:#{$secondary-hex};
    --secondary-rgb:#{to-rgb($secondary-hex)};
    --heading-color:#{$heading-dark-hex};
    --heading-color-rgb:#{to-rgb($heading-dark-hex)};
    --text-dark:#{$text-dark-hex};
    --text-light:#{$text-light-hex};
    --white:#{$white-hex};
    --blue:#{$blue-hex};
    --yellow:#{$yellow-hex};
}

h1,h2,h3,h4{
 font-family:$heading-font;
}
body{
    font-family: $body-font;
    font-weight:$body-font-weight;
}
.logo-title-font{
    font-family: $logo-font;

}