@use '../abstract/' as *;

.blog-section {
    @include py(60px);

    @include desktop {
        @include py(120px)
    }

    h1 {
        @include heading-48;
        text-align: center;
        margin-bottom: 60px;
    }
}

.blog-title {
    text-align: center;
    margin-bottom: 60px;
}

.blog-card {
    max-width: 644px;
    border-radius: 10px 10px 0 0;
    margin-right: 25px;

    .blog-img {
        border-radius: 10px 10px 0 0;
    }

    .blog-text-block {
        padding: 48px 40px 40px 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        gap: 25px;
        border-radius: 0px 0px 6px 6px;
        background: var(--white, #FFF);
    }

    .blog-read {
        display: flex;
        align-items: center;

        .read-arrow {
            width: 24px;
            height: 24px;
        }

    }
}

.blog-read-color {
    color: var(--blue);
}

.blog-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    flex: 1 0 0;
    margin-left: 25px;

    border-radius: 10px;
    margin-right: 10px;

    @include desktop {
        max-width: 626px;
        height: 162px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        flex: 1 0 0;

        .blog-small-img {
            max-width: 241px;
            height: 162px;
            border-radius: 10px;
            margin-right: 0px;
        }

        .block-title {
            font-size: 22px;
        }
    }

    @include large-desktop {
        max-width: 626px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        flex: 1 0 0;

        .blog-small-img {
            max-width: 241px;
            height: 162px;
            border-radius: 10px;
            margin-right: 13px;
        }
    }

    @include mobile {
        .block-title {
            font-size: 18px;
        }
    }

}





.small-blog-img {
    height: 100%;
    border-radius: 10px;
}

.blog-part {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;

    .blog-small-img {
        max-width: 241px;
        height: 162px;
        border-radius: 10px;
        margin-right: 13px;
    }

    .blog-read {
        display: flex;
        align-items: center;

        .read-arrow {
            width: 24px;
            height: 24px;
        }
    }
}

@include mobile {
    .blog-part {
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }
}

@include mobile-large {
    .blog-part {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
    }
}



@include desktop {
    .blog-card {
        box-shadow: none;
    }
}

.blog-small-title {
    .block-title {
        @include myb(14px)
    }
}